.app {
  display: grid;
  place-items: center;
  background-color: #e5e6e1;
  height: 100vh;
}

.app_body {
  display: flex;
  background-color: #f1f1f1;
  margin-top: -1vh;
  height: 95vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.4);
}
